
#the_content #gh_slides {
	position: relative;
	height: 530px;
	color: red;
}

#the_content #gh_slides .gh-slide-front {
	z-index: 50;
}

#the_content #gh_slides .gh-slide-front>h2 {
	margin-top: -30px;
	width: 100%;
	color: red;
	font-size: 42px;
	text-align: center;
}

#the_content #gh_slides #slide_dummy {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 518px;
	z-index: -1;
}

#the_content #gh_slides #slide_dummy img {
	width: 100%;
	height: 100%;
}

.quote-block {
	display: inline-block;
	width: 23%;
	margin: 0 -4px 0 0px;
	height: 240px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	text-align: left;
	background-size: cover;
}

.quote-block.quote-1 {
	background-image: url('../img/testimonials_03.jpg');
}

.quote-block.quote-2 {
	background-image: url('../img/testimonials_05.jpg');
}

.quote-block.quote-3 {
	background-image: url('../img/testimonials_07.jpg');
}

.quote-block.quote-4 {
	background-image: url('../img/testimonials_09.jpg');
}

#gallery {
	width: 100%;
}

#gallery_thumb {
	margin-top: 3px;
	width: 100%;
	height: 90px;
}
#gallery_thumb .row {
	margin-left: 0px;
	width: 100%;
}
#gallery_thumb .row div[class^="col-"]{
	padding: 0px;
}
#gallery_thumb img {
	pading: 2px;
	height: 88px;
}
